# Workflow that runs lint on python code
name: Lint

# The jobs in this workflow are required, so they must run at all times
# Always run on "main"
# Always run on PRs
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  lint-python:
    name: Lint python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: 'pip'
      - name: Install pre-commit
        run: pip install pre-commit==3.7.0
      - name: Run pre-commit hooks
        run: pre-commit run --files openhands_aci/**/* tests/**/* --show-diff-on-failure --config ./dev_config/python/.pre-commit-config.yaml
